.container .post-container {
    margin: 20px 2em 80px 2em;
}

.post-container .header {
    background-color: rgb(235, 235, 235);
    border-radius: 8px 8px 0px 0px;
    height: 80px;
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
}

.post-container .footer {
    background-color: rgb(235, 235, 235);
    border-radius: 8px 8px 0px 0px;

}

.username {
    display: inline-block;
    height 0;
    margin: 0px;
    padding-top: 15px;
}

.userimg {
    margin: 10px;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
    float: left;
}

p.tweet {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    border-bottom: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
}

footer.tweet{
    padding: 15px;
    background-color: rgb(235, 235, 235);
}

p.foot {
    font-size: 3mm;
    padding-left: 10px;
    margin-bottom: 50px;
}

p.account{
    float: right;
    font-size: 3.5mm;
    margin-right: 15px;
    margin-top: 17px;
}

.likebutton:hover {
    padding: 2px
}

.likebutton {
    height: 17px;
    width: 17px;
    float: right;
    margin: 5px;
}

#timestamp {
    margin-bottom: 0px;
    width: 300px;
}

footer.tweet {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(235, 235, 235);
}

article.article {
    border-radius: 9px;
    border: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 45px;
}
