.warningbox {
    background-color: lightgrey;
    margin: 10px 6em 10px 6em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    display: none;
}